body {
  margin: 40px;
  background-color: #fff;
  padding: 0px;
}

html {
  margin: 0px;
}

.box {
  background-color: #53f442;
  color: #fff;
  border-radius: 7px;
  /* padding: 10px; */
  font-size: 100%;
  border: 0px;
  margin-right: 10px;
  margin-top: 15px;
}

/* .box:nth-child(even) {
    background-color: #ccc;
    color: #000;
} */
.wrapper {
  width: 800;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: wrap;
  align-items: baseline;
  flex-grow: 40px;
  gap: 40px;
  justify-content: space-between;
  grid-gap: 10px;
}

h1 {
  color: #475728;
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  margin: 0 0 16px;
}

p {
  color: #222;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 14px;
  display: inline-flex;
  text-align: justify;
}

/* .fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
} */